@tailwind base;
@tailwind components;
@tailwind utilities;
/* index.css */
.cart-badge {
  background-color: #ff4500; /* Change to a custom orange-red */
  color: white;
  border-radius: 50%;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(25%, -25%);
}
